@media (max-width: 1024px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .header {
    padding: 14px;
  }

  .header__logo {
    width: auto;
  }

  .header__logo__button {
    display: none;
  }

  .mob-header__logo__button {
    display: block;
  }

  .header__logo__text {
    width: auto;
    font-size: 26px;
  }

  .header__search {
    background-color: transparent;
    padding: 0;
    width: 28px;
    margin-left: 0;
  }

  .header__search input {
    display: none;
  }

  .header__button {
    display: none;
  }

  .main {
    flex-direction: column;
    gap: 0px;
  }

  .main__cart {
    margin: 0;
  }

  .main__cart__title {
    margin: 15px 16px 0px;
  }

  .main__cart__available-items {
    margin: 18px 16px;
  }

  .main__cart__available-items__item {
    flex-direction: column;
    position: relative;
  }

  .main__cart__available-items__item__info__title,
  .main__cart__unavailable-items__item__info__title {
    font-size: 14px;
  }

  .custom-checkbox:not(:disabled):not(:checked)+label::before {
    background-color: #FFF;
  }

  .main__cart__available-items__item .custom-checkbox + label {
    position: absolute;
    top: 16px;
    left: 4px;
  }

  .main__cart__available-items__item__photo,
  .main__cart__unavailable-items__item__photo {
    width: 80px;
    height: 106px;
    margin-right: 16px;
    border-radius: 6px;
  }

  .main__cart__available-items__item__info__params__size,
  .main__cart__unavailable-items__item__info__params__size {
    display: none;
  }

  .main__cart__unavailable-items__item {
    position: relative;
  }

  .mob-main__cart__item__info__params__size {
    display: block;
    position: absolute;
    top: 90px;
    left: 4px;
    font-size: 14px;
    background-color: #FFF;
    border-radius: 6px;
    padding: 0px 4px 3px;
  }

  .main__cart__available-items__item__controls {
    margin-top: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .number-input {
    width: 80px;
    height: 32px;
  }

  .number-input input[type=number] {
    height: 32px;
    font-size: 14px;
  }

  .main__cart__available-items__item__price {
    display: none;
  }

  .mob-main__cart__available-items__item__price {
    display: flex;
    align-items: end;
  }

  .mob-main__cart__available-items__item__price__new {
    font-size: 16px;
    font-weight: 700;
  }

  .mob-main__cart__available-items__item__price__currency {
    font-size: 16px;
    font-weight: 700;
  }

  .mob-main__cart__available-items__item__price__old {
    margin-left: 5px;
    margin-top: 3px;
    position: relative;
    white-space: nowrap;
  }

  .mob-main__cart__available-items__item__price__old::after {
    border-top: 1px solid #9797AF;
    position: absolute;
    content: "";
    right: 0;
    top: 60%;
    left: 0;
  }

  .main__cart__available-items__item__info__provider {
    display: none;
  }

  .main__cart__missing-items {
    margin: 18px 16px;
  }

  .main__cart__unavailable-items__item {
    flex-direction: column;
  }

  .main__cart__unavailable-items__item__controls__buttons {
    margin-top: 12px;
    margin-right: 0px;
    align-self: end;
  }

  .main__cart__delivery-method__info__block {
    flex-direction: column;
  }

  .main__cart__delivery-method__info__block__items {
    margin-top: 12px;
  }

  .main__cart__recipient__row-1,
  .main__cart__recipient__row-2 {
    flex-direction: column;
    margin-top: 20px;
    gap: 45px;
  }

  .main__cart__recipient__row-1 {
    margin-bottom: 45px;
  }

  .main__cart__recipient {
    margin-bottom: 0px;
  }

  .main__total {
    border: none;
    box-shadow: none;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
  }

  .main__total__subtitle,
  .main__total__point-address,
  .main__total__delivery-date,
  .main__total__payment-card {
    display: none;
  }

  .mob-navigation-space {
    display: block;
    height: 56px;
  }

  .mob-navigation {
    position:fixed;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 13px;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    background-color: #FFF;
  }

  .tooltip-column-container {
    left: -110px;
  }

  .popup__content {
    max-width: 320px;
  }

  .popup-select-button {
    width: 100%;
  }

  .main__total__table th {
    font-size: 20px;
  }

  .main__total__free-shipping,
  .main__total__payment-immediately {
    background-color: #F0ECF4;
  }
}