* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

*:focus {
  outline: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  display: flex;
  object-fit: cover;
}

.mir-icon {
  padding: 7px 1px;
  border-radius: 4px;
  background-color: #F6F6FA;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

body {
  background-color: #6725A8;
}

h1 {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.28px;
}

h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
}

.small-text {
  font-size: 13px;
  line-height: 16px;
}

.gray-text {
  color: #9797AF;
}

.red-text {
  color: #FF3B30;
}

.free-delivery-text {
  color: #0CB477;
  border-bottom: rgba(12, 180, 119, 0.20) 1px dashed
}

.accent-text {
  color: #CB11AB;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.dashed-gray {
  border-bottom: #c5c5c8 1px dashed;
}

.wrapper {
  max-width: 1400px;
}

.header {
  padding: 20px 20px 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 170px;
  gap: 14px;
}

.header__logo__text {
  width: 106px;
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.50px;
  text-transform: uppercase;
  font-variant: all-small-caps;
  cursor: pointer;
  margin-top: -7px;
}

.header__logo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  cursor: pointer;
}

.header__search {
  padding: 10px 20px;
  border-radius: 36px;
  background-color: #8551b9;
  border: none;
  color: #FFF;
}

.header__search::placeholder {
  color: #FFF;
  opacity: 0.5;
  font-size: 18px;
}

.header__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__button__text {
  color: #FFF;
  font-size: 13px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F6F6FA;
  border-radius: 24px;
  gap: 32px;
}

.main__cart {
  margin: 34px 0px 50px 24px;
  /* width: 63.6%; */
  width: 100%;
}

.main__cart label {
  margin-right: 12px;
}

.main__cart__available-items {
  margin-top: 25px;
}

.main__cart__available-items__header,
.main__cart__missing-items__header {
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0, 0, 0, 0.10) 1px solid;
  padding-bottom: 18px;
}

.main__cart__available-items__header__select-all {
  display: flex;
}

.main__cart__collapse-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.main__cart__available-items__item {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  width: 100%;
}

.main__cart__unavailable-items__item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  width: 100%;
}

.main__cart__available-items__item__checkbox {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.main__cart__available-items__item__photo,
.main__cart__unavailable-items__item__photo {
  width: 72px;
  height: 96px;
  margin-right: 16px;
  border-radius: 6px;
}

.main__cart__unavailable-items__item__photo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.main__cart__available-items__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
}

.main__cart__unavailable-items__item__info {
  display: flex;
  flex-direction: column;
  width: 309px;
}

.main__cart__available-items__item__info__title,
.main__cart__unavailable-items__item__info__title {
  line-height: 24px;
}

.main__cart__unavailable-items__item__info__params {
  margin-top: 4px;
}

.main__cart__available-items__item__info__params__color,
.main__cart__unavailable-items__item__info__params__color {
  margin-right: 14px;
}

.main__cart__available-items__item__info__provider {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.main__cart__available-items__item__info__provider span {
  padding-bottom: 4px;
  margin-right: 7px;
}

.main__cart__available-items__item__info__provider img {
  cursor: pointer;
}

.main__cart__available-items__item__price {
  width: 110px;
  align-items: end;
  margin-left: 16px;
}

.main__cart__available-items__item__price__new {
  font-size: 20px;
  font-weight: 700;
}

.main__cart__available-items__item__price__new__small {
  font-size: 16px;
  font-weight: 700;
}

.main__cart__available-items__item__price__currency {
  font-size: 16px;
  font-weight: 700;
}

.main__cart__available-items__item__price__old {
  margin-top: 3px;
  position: relative;
  white-space: nowrap;
}

.main__cart__available-items__item__price__old::after {
  border-top: 1px solid #9797AF;
  position: absolute;
  content: "";
  right: 0;
  top: 60%;
  left: 0;
}

.main__cart__available-items__item__controls__remained {
  margin-top: 8px;
}

.main__cart__available-items__item__controls__buttons {
  margin-top: 8px;
  display: flex;
  justify-content: end;
  gap: 16px;
}

.main__cart__unavailable-items__item__controls__buttons {
  display: flex;
  align-items: start;
  gap: 16px;
  margin-right: 126px;
}

.main__cart__missing-items__header {
  margin-top: 40px;
}

.main__cart__missing-items__header span {
  font-weight: 600;
}

.white-container {
  background-color: #FFF;
  padding: 16px 24px 24px;
  border-radius: 16px;
}

.white-container__title-with-button {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.main__cart__delivery-method {
  margin-top: 40px;
}

.main__cart__delivery-method__info {
  margin-top: 16px;
}

.main__cart__delivery-method__info__block {
  display: flex;
  margin-top: 16px;
}

.main__cart__delivery-method__info__block__title {
  font-weight: 600;
  width: 185px;
}

.main__cart__delivery-method__info__block__text__about {
  display: flex;
  margin-top: 6px;
}

.main__cart__delivery-method__info__block__text__about__rating {
  margin-right: 6px;
  margin-left: 6px;
}

.main__cart__delivery-method__info__delivery-date {
  margin-top: 20px;
}

.main__cart__delivery-method__info__delivery-date img {
  margin-right: 8px;
  height: 56px;
  width: 40px;
}

.main__cart__delivery-method__price {
  display: flex;
  margin-top: 22px;
}

.main__cart__delivery-method__price > img {
  margin-right: 8px;
}

.main__cart__payment-method {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main__cart__payment-method__details {
  display: flex;
  margin-top: 16px;
  margin-bottom: 4px;
  align-items: end;
}

.main__cart__payment-method__details__card-number {
  margin-left: 8px;
  margin-right: 12px;
}

.main__cart__recipient {
  margin-bottom: 50px;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.main__total {
  align-self: baseline;
  min-width: 381px;
  width: 381px;
  margin: 22px 24px 50px 0px;
  padding: 14px 24px 24px;
  border-radius: 16px;
  background-color: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.main__total__table {
  width: 100%;
}

.main__total__table th {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}

.footer {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer span {
  color: rgba(255, 255, 255, 0.70);
}