* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

*:focus {
  outline: none;
}

body {
  background-color: #6725A8;
}

.wrapper {
  max-width: 1400px;
}

.header {
  padding: 20px 20px 18px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 170px;
  gap: 14px;
}

.header__logo__text {
  width: 106px;
  color: #FFF;
  font-size: 28px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.50px;
  text-transform: uppercase;
  font-variant: all-small-caps;
  cursor: pointer;
}

.header__logo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  cursor: pointer;
}

.header__search {
  padding: 10px 20px;
  border-radius: 36px;
  background-color: #8551b9;
  border: none;
  color: #FFF;
}

.header__search::placeholder {
  color: #FFF;
  opacity: 0.5;
  font-size: 18px;
}

.header__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__button__text {
  color: #FFF;
  font-size: 13px;
}

.main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #F6F6FA;
  border-radius: 24px;
}

.main__cart {
  margin: 34px 0px 50px 24px;
}

.main__cart__title {
  color: #000;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.28px;
}

.main__cart__available-items__header {
  display: flex;
  justify-content: space-between;
}

.main__cart__collapse-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.main__cart__available-items__item {
  display: flex;
}

.main__total {
  margin: 22px 24px 50px 0px;
  padding: 16px 24px 24px;
  border-radius: 16px;
  background-color: #FFF;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.30), 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.main__total__table {
  width: 100%;
}

.main__total__table th {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
}